.header {
background-color: #1F2937;
display: flex;
justify-content: center;
gap: 100px;
padding-bottom: 100px;



}

.leftnav {
display: flex;
justify-content: space-between;


}

.rightnav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.logo {
font-weight: 24px;
color: #F9FAF8;
align-self: center;
padding-top: 16px;
font-weight: bolder;
}

.links ul {
    display: flex;
    gap: 16px;
    justify-content: end;
}

.links li {
    display:flex;
   
}

.links a {
    text-decoration: none;
    color: #F9FAF8;
    margin: auto;
}

.awesome {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 100px;
}

.image {
    background-color: lightgray;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 196px;
    text-align: center;
}

.title {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.button1 button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 3px;
    font-weight: bold;
    border-radius: 15%;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
}

.title2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 40px;
}

.boxes {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.boxes div {
    width: 150px;
    height: 300px;
    text-align: center;
}

.boxes div .box {
    width: 150px;
    height: 150px;
    border: 5px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10%;
}

.mid2 {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid2 .quote {
    width: 700px;
    font-size: 36px;
    font-style: italic;
    
}

.mid2 .author {
    font-weight: bolder;
    width: 700px;
    text-align: end;
    display: flex;
    justify-content: end;
}

.mid3 {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.mid3 .innerbox {
    background-color: #3882F6;
    border-radius: 5px;
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}

.mid3 .innerbox .title3 {
    color: #E5E7EB;
    font-weight: bold;

}

.mid3 .innerbox .subtitle2 {
    color: #E5E7EB;
}

.mid3 .innerbox .button2 {
    align-self: center;

}

.mid3 .innerbox .button2 button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 15%;
    border-style: solid;
    border-color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.footer .Copyright {
    color: #F9FAF8;
    padding: 20px;

}